@model PostItCore.ViewModels.PostInfo
@{
    ViewData["Title"] = "Info";
}
<h2>@Model.Head</h2>
<hr />
<p>@Model.Desc</p>
<hr />
<p>@Model.Rep</p>
<p>@Model.Date</p>
<a href="~/User/Info?Id=@Model.UserId">@Model.UserNick</a>
<a href="~/Group/Info?Id=@Model.GroupId">@Model.GroupName</a>
