@model PostItCore.ViewModels.GroupIndex
<h2>@ViewData["Title"]</h2>
@if (Convert.ToInt32(ViewData["Pages"]) != 0 && Model.UserId != "0")
{
    if (Model.Page == 0)
    {
        <a href="~/Group/Index?userId=@Model.UserId&page=@(Model.Page + 1)&filter=@ViewData["Filter"]">Next</a>
    }
    else if (Model.Page +1 == Convert.ToInt32(ViewData["Pages"]))
    {
        <a href="~/Group/Index?userId=@Model.UserId&page=@(Model.Page - 1)&filter=@ViewData["Filter"]">Previous</a>
    }
    else
    {
        <a href="~/Group/Index?userId=@Model.UserId&page=@(Model.Page - 1)&filter=@ViewData["Filter"]">Previous    </a>
        <a href="~/Group/Index?userId=@Model.UserId&page=@(Model.Page + 1)&filter=@ViewData["Filter"]">Next</a>
    }
    <hr />
}
else if (Convert.ToInt32(ViewData["Pages"]) != 0)
{
    if (Model.Page == 0)
    {
        <a href="~/Group/Index?page=@(Model.Page + 1)&filter=@ViewData["Filter"]">Next</a>
    }
    else if (Model.Page + 1 == Convert.ToInt32(ViewData["Pages"]))
    {
        <a href="~/Group/Index?page=@(Model.Page - 1)&filter=@ViewData["Filter"]">Previous</a>
    }
    else
    {
        <a href="~/Group/Index?page=@(Model.Page - 1)&filter=@ViewData["Filter"]">Previous</a><br />
        <a href="~/Group/Index?page=@(Model.Page + 1)&filter=@ViewData["Filter"]">Next</a>
    }
}
@if (User.Identity.IsAuthenticated)
{
        <form method="get" asp-controller="Group" asp-action="Create">
            <input type="submit" value="Create" class="btn btn-default" />
        </form>
}
<form asp-controller="Group" asp-action="Index">
    <input type="hidden" name="userName" value="@User.Identity.Name" />
    <input type="text" name="filter" value="" />
    <button type="submit">
        Submit
    </button>
</form>
@if (Model.Groups != null)
{
<table class="table">
    <tr><th>Title</th><th>Reputation</th><th></th></tr>
    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>@group.Title</td>
            <td>@group.Rep</td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="get" action="~/Group/Info?GroupId=@group.Id">
                        <input type="hidden" value="@group.Id" name="Id" class="btn btn-default" />
                        <input type="submit" value="Info" class="btn btn-default" />
                    </form>
                }
            </td>
        </tr>
    }
</table>
}